{% set navbar = true %}
{% extends 'page.html.twig' %}

{% block logo_left %}
<a href="http://www.bgsu.edu/library/">
    <img src="/assets/img/systems-catalog.png" alt="University Libraries at BGSU Catalog" class="img-responsive" />
</a>
{% endblock %}

{% block logo_right %}
<a href="http://bgsu.summon.serialssolutions.com/">
    <img src="https://maurice.bgsu.edu/screens/images/summon.png" alt="Looking For Articles? Try Summon" class="img-responsive pull-right" />
</a>
{% endblock %}

{% block navbar_left %}
{{ parent() }}
<li><a href="http://www.bgsu.edu/library/">Library Home</a></li>
<li><a href="http://www.bgsu.edu/library/ask-us.html">Ask Us!</a></li>
<li><a href="https://maurice.bgsu.edu/patroninfo">My Library Account</a></li>
<li class="dropdown">
    <a href="https://maurice.bgsu.edu/screens/reserves.html">Course Reserves <small class="hidden-xs">▼</small></a>
    <ul class="dropdown-menu hidden-xs">
        <li><a href="https://maurice.bgsu.edu/search/r">Search by Course</a></li>
        <li><a href="https://maurice.bgsu.edu/search/p">Search by Instructor</a></li>
    </ul>
</li>
<li><a href="http://ul2.bgsu.edu/hours/hours.php">Hours</a></li>
{% endblock %}

{% block navbar_right %}
<li><a href="https://maurice.bgsu.edu/feeds">New Books</a></li>
<li><a href="http://libguides.bgsu.edu/cataloghelp">Catalog Help</a></li>
{% endblock %}
